<html>
  <head>
    <%- include('../partials/head') %>
    <script src="/public/js/register/verify.js"></script>
  </head>

  <body>
    <div class="wrap">
      <div class="header">
        <%- include('../partials/header') %>
      </div>
      <div class="content">
        <style>
          .content{
            display:flex;
            align-items: center;
            flex-direction: column;
          }
          .content{
            background-color: #F8F8FF;
            width:100%;
          }
          .verify_area{
            background-color: white;
            margin-top: 70px;
            margin-bottom: 70px;
            width:500px;
            border: 1px solid #dfe3e6;
            display: flex;
            align-items: center;
            flex-direction: column;
          }
          .verify_title{
            margin-top: 40px;
            letter-spacing: 10px;
          }
          .verify_info{
            padding-left: 60px;
            padding-right: 60px;
            margin-top: 15px;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
          }
          .verify_info a{
            text-align: center;
            font-size: 14px;
            color: gray !important;
          }
          .verify_form{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            margin-bottom:30px;
          }
          .verify_area input{
            border: 1px solid #dfe3e6;
            border-radius: 0px;
            width: 300px;
            height: 50px;
            font-size: 18px;
            margin-bottom: 20px;
            padding-left: 10px;
          }
          .error{
            text-decoration: none !important;
            font-size: 12px;
            color: red !important;
            margin-top: -10px;
            margin-bottom: 10px;
            display: flex;
            width: 300px;
          }
          .btn_verify{
            color: white;
            font-size: 20px !important;
          }
          .redline{
            border-color: red !important;
          }
        </style>

        <div class="verify_area">
          <h1 class="verify_title"> 이메일인증 <h1>
          <div class="verify_info">
            <a class="a_basic">해당 이메일로 인증코드가 발송되었습니다. 커뮤니티 활동을 위해서 이메일 인증이 필요합니다.</a>
          </div>
          <div class="verify_form">
            <div class="input_area">
              <h5 class="input_info"> 인증코드 </h5>
              <input class="input_verify" type="text" name="verify" id="verify" placeholder="인증코드">
              <% if(errors.verify){ %>
                <a class="error verify_invalid"> <%=errors.verify.message %> </a>
              <% } %>
              <a class="error verify_error none"> default </a>
            </div>
            <input type="submit" title="인증하기" alt="인증하기" value="인증하기" class="btn_verify bg-dark" onclick="verify()">
          </div>
        </div>
      </div>

      <div class="footer">
        <%- include('../partials/footer') %>
      </div>
    </div>
  </body>
</html>
