<html>
  <head>
    <%- include('../partials/head') %>
    <script src="/public/js/user/leave.js"></script>
  </head>

  <body>
    <div class="wrap">
      <div class="header">
        <%- include('../partials/header') %>
      </div>
      <div class="content">
        <style>
          .content{
            display:flex;
            align-items: center;
            flex-direction: column;
            background-color: #F8F8FF;
            width:100%;
          }
          .leave_area{
            background-color: white;
            margin-top: 70px;
            margin-bottom: 70px;
            padding-bottom: 20px;
            width:500px;
            border: 1px solid #dfe3e6;
            display: flex;
            align-items: center;
            flex-direction: column;
          }
          .leave_title{
            margin-top: 40px;
            letter-spacing: 10px;
          }
          .leave_form{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
          }
          .input_info{
            margin-left:45px;
            margin-right:45px;
            font-size:14px;
            text-align:center;
          }
          .input_area{
            margin-top:30px;
            display: flex;
            flex-direction: column;
          }
          .leave_area input{
            border: 1px solid #dfe3e6;
            border-radius: 0px;
            width: 300px;
            height: 50px;
            font-size: 18px;
            margin-bottom: 20px;
            padding-left:10px;
          }
          .error{
            text-decoration: none !important;
            font-size: 12px;
            color: red !important;
            margin-top: -10px;
            margin-bottom: 10px;
            display: flex;
            width: 300px;
          }
          .access_error{
            color: black !important;
            font-size: 16px !important;
            margin-bottom: 20px !important;
          }
          .btn_leave{
            color: white;
            font-size: 20px !important;
            cursor: not-allowed !important;
            opacity:50%;
          }
        </style>
        <div class="leave_area">
          <h1 class="leave_title"> 회원탈퇴 <h1>
          <div class="leave_form">
            <% if(user) {%>
            <div class="userid" var="<%=user.id%>"></div>
            <a class="input_info a_basic"> 회원 탈퇴 시 이전에 활동한 내역들(게시글, 댓글, 좋아요, 알림)은 제거되지 않습니다. 또한, 약관에 명시된 바와 같이 탈퇴 후 60일 개인정보는 보관됩니다. 아래 입력 칸에 '동의합니다'를 입력할 시, 이에 동의한 것으로 간주됩니다. </a>
            <div class="input_area">
              <input onkeyup="checkAgree();" type="text" id="agree" placeholder="동의합니다">
            </div>
            <input type="button" title="탈퇴하기" alt="탈퇴하기" value="탈퇴하기" class="btn_leave bg-dark">
            <%}else{%>
            <a class="access_error"> 이런 일은 벌어질 수 없어. </a>
            <%}%>
          </div>
        </div>
      </div>

      <div class="footer">
        <%- include('../partials/footer') %>
      </div>
    </div>
  </body>
</html>
